/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

.padding-custom{
    padding-left: 40px;
}

.clase-A{
    color: red;
    background-color: white;
}

.clase-B{
    color: white;
    background-color: black;
}